<launch>
    <arg name="record_mode" default="false"/>
    <arg name="rosbag_name"/>

    <node pkg="rosserial_python" type="serial_node.py" name="rosserial" output="screen">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud" value="115200" />

    <group if="$(arg record)">
        <node pkg="rosbag" type="record" name="recorder"
              args="-O $(find AKROS_bridge)/rosbag/$(arg rosbag_name) -a"/>
    </group>

    <node name="position_plot" pkg="rqt_plot" type="rqt_plot" args="/motor_cmd/position /motor_reply/position" />
    <node name="controller" pkg="AKROS_bridge" type="single_motor_controller2"/>
</launch>