<launch>
    <arg name="record_mode" default="false"/>
    <arg name="rosbag_name"/>
    

    <group if="$(arg record_mode)">
        <node pkg="rosbag" type="record" name="recorder"
              args="-O $(find AKROS_bridge)/rosbag/$(arg rosbag_name) -a"/>
    </group>

    <node name="position_plot" pkg="rqt_plot" type="rqt_plot" args="/motor_cmd/position /motor_reply/position" />
    <node name="controller" pkg="AKROS_bridge" type="single_motor_controller2"/>
</launch>
